/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 28, 2015, 11:38:02 AM
    Author     : Anurag
*/

.red{
    color:red !important;
}
.padding-3{
    padding:3px;
}
.success{
    color:#23B7E5;
}
.error{
    color:red;
}
.top-5{
    padding-top: 10px;
}
.padding-left-15{
    padding-left:15px;
}