/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 28, 2015, 11:38:02 AM
    Author     : Anurag
*/

.red{
    color:red !important;
}
.padding-3{
    padding:3px;
}
.success{
    color:#23B7E5;
}
.error{
    color:red;
}
.top-5{
    padding-top: 10px;
}
.padding-left-15{
    padding-left:15px;
}
.green{
    color: green;
}
.b-5{
    margin-bottom: 5px;
}
.bold1{
    font-size: 18px !important;
}
.bg-orange{
    background-color: #FB773E;
    color: #fff;   
    min-height: 150px;
    padding-top:20px;
}
.bg-orange:hover{
    background-color: #BF5B2F;
     -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75); 
}
.bg-orange-dark{
    background-color: #E25C22;
}
.bg-l-1{
    color: #fff;   
    background-color: #F16021;
}
.bg-l-2{
    color: #fff;   
    background-color: #F37922;
}
.bg-l-3{
    color: #fff;   
    background-color: #F38E22;
}
.bg-l-4{
    color: #fff;   
    background-color: #F39F22;
}
